*~
.DS_Store
*.pyc
aclocal.m4
autom4te.cache
*.a
*.so
*.o
*.bak
*.dot
.*.swp
.*.swo
*.gz
*.la
*.lo
*.fulltop
*.perf
*.ptab
*.top
*core*
hostnamefn.*
Makefile
Makefile.in
config.h
config.log*
config.status
config.h.in
config/libtool.m4
config/ltmain.sh
config/ltoptions.m4
config/ltversion.m4
config/lt~obsolete.m4
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltsugar.m4
config/missing
config/py-compile
config/ylwrap
configure
doc/refman/
doc/src/INSTALL
doc/src/LICENSE
doc/userguide/html/
examples/src/.deps/
examples/src/blah.Tpo
examples/src/hw
examples/src/mpi_ringtopo
examples/src/mpi_ringtopo_defunct
examples/src/rank_test
examples/src/to_test
examples/src/dysect_test
examples/src/template_test
examples/sessions/doit.sh
libtool
UpdatePerms
logs/
man/manpage.links
man/manpage.log
man/manpage.refs
scripts/STAT
scripts/STATBench
scripts/STATGUI
scripts/STATview
scripts/attach-helper
scripts/core_stack_merge
scripts/stat-core-merger
scripts/stat-bench
scripts/stat-cl
scripts/stat-gui
scripts/stat-view
scripts/dysect-view
scripts/stat-script
scripts/dysectc
scripts/mpi_segfault*
src/.deps/
src/.libs/
src/STATBenchD
src/STATBenchbin
src/STATD
src/STATbin
src/ssa_be_link.sh
src/ssa_fe_link.sh
src/STAT.py
src/STAT_wrap.C
src/to_wrap.C
src/tomod.py
src/dysect/DysectAPI/.deps/
src/dysect/DysectAPI/.libs/
src/dysect/DysectAPI/Aggregates/.deps/
src/dysect/libDysectAPI/src/.deps/
src/dysect/libDysectAPI/src/.libs/
src/dysect/libDysectAPI/src/expr-parser.cc
src/dysect/libDysectAPI/src/expr-parser.h
src/dysect/libDysectAPI/src/expr-parser.hh
src/dysect/libDysectAPI/src/expr-scanner.cc
src/dysect/libDysectAPI/src/expr-scanner.h
src/analyticslib/.deps/
src/analyticslib/.libs/
stamp-h1
stat_results
TODO
extra_stuff
slurm-*.out
r0*
mpi_ringtopo*
out*.txt
tags
test.msub
test.pdf
to_test
dysect-experiment*
/*.sh
*.gcov
*.gcda
*.gcno
hostnamefn.*
